<launch>
	<node pkg="msg_send" type="student_int_job.py" name="Sender" output="screen"/>
	<node pkg="msg_send" type="teacher_int_job.py" name="Receiver" output="screen"/>
	<node pkg="msg_send" type="student_int_job.py" name="Sender" output="screen"/>
	<node pkg="msg_send" type="teacher_int_job.py" name="Receiver" output="screen"/>
	<node pkg="msg_send" type="student_int_job.py" name="Sender" output="screen"/>
</launch>
