<launch>
  <!-- rviz display -->
  <node name="rviz_visualizer" pkg="rviz" type="rviz" required="true" 
        args="-d $(find rviz_imu)/rviz/imu_3d.rviz"/>
  <node pkg="xycar_imu" type="9dof_imu_node.py" name="xycar_imu" output="screen">
    <param name="rviz_mode" type="string" value="false" />
  </node>
</launch>

